.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 100vh;
  background-color: #383838;
  top: 0;
  flex-shrink: 0;
  position: sticky;

  h1 {
    color: white;
    font-size: 2.2rem;
    height: 45px;
    box-shadow: inset 0px -18px 0px #3549b0;
  }
}
