.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 100vh;
  background-color: #383838;
  top: 0;
  flex-shrink: 0;
  position: sticky;

  h1 {
    color: white;
    font-size: 2.2rem;
    height: 45px;
    box-shadow: inset 0px -18px 0px #3549b0;
  }

  .category_container {
    overflow-x: scroll;
    padding-left: 15px;

    .category {
      display: inline-flex;
      justify-content: flex-start;
      padding: 5px 0 5px 0;
      width: 150px;
      gap: 5px;
      color: white;
      font-size: 1rem;
      font-weight: 600;
    }

    .category_color {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      border-radius: 100px;
      background: #f44250;
    }
  }

  div:last-child {
    margin-top: auto;
  }
}
