.input_container > * {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-family: inherit;
}

.container {
  animation: fadeIn 1000ms;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #383838;
  position: relative;
  border-radius: 10px;
  padding: 10px 10px 0 0;

  .input_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 560px;

    .title {
      height: 20px;
      font-weight: 600;
      padding-left: 10px;
    }

    .title::placeholder {
      font-size: 1.1rem;
    }

    .content {
      padding-left: 10px;
      overflow: auto;
      height: 250px;
      resize: none;
    }

    .content::placeholder {
      font-size: 1.1rem;
    }

    .category {
      font-size: 1rem;
      appearance: none;
      margin-top: 5px;
      font-weight: 600;
      width: 80%;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 60%,
        #3549b0 40%
      );
      border-radius: 0 0 0 8px;
      padding-left: 5px;
      padding-bottom: 2px;
    }

    .create_button {
      width: 80px;
      height: 30px;
      background-color: #067087;
      border-radius: 10px;
      transform: rotate(-90deg);
      position: absolute;
      bottom: 40px;
      right: -10px;
      font-weight: 500;
      font-size: 1.1rem;
    }
  }
}

.content::-webkit-scrollbar {
  width: 4px;
}

.content::-webkit-scrollbar-thumb {
  background-color: #6e6b6b;
  outline: 1px solid #6e6b6b;
  border-radius: 5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
