.input_container > * {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-family: inherit;
}

.container {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #383838;
  position: relative;
  border-radius: 10px;
  padding: 10px;

  .input_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 560px;

    .title {
      height: 20px;
      font-weight: 600;
    }

    .title::placeholder {
      font-size: 1.1rem;
    }

    .content {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 300px;
      resize: none;
    }
    .content::placeholder {
      font-size: 1.1rem;
    }

    .category {
      font-size: 1rem;
      appearance: none;
      margin-top: 5px;
    }

    .create_button {
      width: 80px;
      height: 30px;
      background-color: #067087;
      border-radius: 10px;
      transform: rotate(-90deg);
      position: absolute;
      bottom: 40px;
      right: -10px;
      font-weight: 500;
      font-size: 1.1rem;
    }
  }
}

.content::-webkit-scrollbar {
  width: 4px;
}

.content::-webkit-scrollbar-thumb {
  background-color: #6e6b6b;
  outline: 1px solid #6e6b6b;
  border-radius: 5px;
}
