.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  gap: 1em;
  margin-top: 20px;

  .searchbar_container {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #fff;
  }

  svg {
    margin: 0 5px 0 5px;
  }

  .searchbar {
    font-family: inherit;
    width: 600px;
    height: 30px;
    flex-shrink: 0;
    background: none;
  }

  input {
    font-family: inherit;
    color: white;
    border: none;
    outline: 0;
  }

  input::placeholder {
    font-family: inherit;
    color: white;
    font-weight: 600;
  }

  .add_note {
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: none;
    border: none;
    padding: 0;
    margin-right: 50px;

    p {
      text-align: left;
      color: white;
      font-size: 1.2rem;
      font-weight: 600;
      position: absolute;
      margin: 0 0 20px 70px;
    }
  }

  .rotate {
    svg {
      animation: rotation 1s;
      transform: rotate(45deg);
    }

    p {
      animation: fadeIn 1.5s;
      margin: 0 0 0px 70px;
    }
  }

  .rotate_back {
    svg {
      animation: rotationBack 1s;
      transform: rotate(0deg);
    }
  }

  .hasek {
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: #272727;
    color: #d5dbd4;
    text-decoration: none;
    font-weight: 600;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

@keyframes rotationBack {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
